In [24]:
f= open("where.data","r")

In [25]:
cont = f.readlines()

In [26]:
for i in cont:
    print(i)

AGH University of Science and Technology

Academy of Fine Arts Warsaw Poland

American University in Cairo

Arizona State University

Athens Information Technology

BITS Pilani

Babcock University

Banaras Hindu University

Bangalore University

Baylor University

Beijing normal university

Belarusian State University

Belgrade University

Beloit College

Belorussian State University

Ben Gurion University

Bharthidasan University

Boston University

California Polytechnic State University of San Luis Obispo

California State University San Bernardino

City of Westminster College

Columbia University

Cranfield University

Czech Technical University in Prague

Dartmouth

De Anza College

Distant University of Hagen

Dnipropetrovsk National University

Dokuz Eylul University

Drexel

Drexel University and University of Texas at Austin

Duke University

EM Lyon

Ecole centrale de PARIS

Elon University

Erhvervsakademi Sydvest

Escuela Superior Politecnica del Litoral

Fachhochschule Dusseldorf

Fachhochschule FH Salzburg

Faculdade de Tecnologia do Estado de Sao Paulo

Faculty of Technical Sciences Novi Sad Serbia

Farmingdale State University

Federal University of Minas Gerais

Florida Atlantic University

Franklin Pierce College

Gauhati University

George Mason University

Georgetown University Law Center

Georgia State University

Grandville

Groep T University

Hanoi University of Science and Technology

Hebrew University

IIIT Hyderabad

IIT KANPUR

IT College of Estonia

IU

IUAV Venezia

Illinois Institute of Technology

Illinois State University Joliet Junior College

Indian Institute of Technology

Indian Institute of Technology Kharagpur India

Indian School of Mines Dhanbad

Indiana University

Indiana University at Bloomington

Institut Superieur de technologies

Institute of Business and Modern Technologies

Instituto Tecnologico de Santo Domingo

International Institute of Information Technology Hyderabad

Irkutsk State University

JADAVPUR UNIVERSITY

Jawaharlal Nehru Technological University

Jawaharlal Nehru University

Jordan University of Science and Technology

K-State

KUL

Kalamazoo College

Kaunas Technology University

Kaunas university of technology

Kazan Federal University

Kent State University

Kharkiv State Academy of Municipal Economy Ukraine

King Mongkuts University of Technology Thonburi

Kokshetau Institute of Economics and Management

Kyiv Polytechnic Institute

Kyiv Polytechnical Institute

Kyiv Unisersity of Oriental Language

Laurentian University

Lisandro Alvarado

Lodz University of Technology

Lviv University

MSU

Madras university

Magnitogorsk State Technical University

Malayer Azad University

Marietta College

Masdar Institute

Matematicki fakultet Beograd

Michigan State University

Middle East Technical University

Missouri University of Science and Technology

Monash

Monash University

Monash University Churchill Australia

Monterrey Institute of Technology and Higher Education

Moscow Engineering-Physics Institute

Moscow Institute of Physics & Technology

Moscow State University

NIT ROURKELA

NYU

Nagpur University

Nanyang Technological University

National Institute of Technology Jalandhar

National Taiwan University

National University of Engineering

North Central College

Northeastern University

Northwestern University

Obninsk Technical University of Nuclear Power Engineering Russia

Old Dominion University

Oregon Institute of Technology

PUCMM

Payame Noor University

Penn State University

Politecnico di Milano

Politehnica University Bucharest

Polytechnic University of Timisoara

Pondicherry University

Pontificia universidad catolica de chile

Portland State University

Purdue University Indianapolis

R V College of Engineering

RPI

Ramapo College of New Jersey

Rochester Institute of Technology

SASTRA University

Saint Petersburg State University

Saint Petersburg State University of Aerospace Instrumentation

Saint-Petersburg Polytechnic Univesity

San Francisco State University

San Jose State University

Shanghai Jiao Tong University

Sharif University of Technology

Simon Bolivar University

Simon Fraser University

Smolensk State University

Sonoma State University

South Federal University

Spiru Haret University

Stanford

State University of Campinas

State University of New York College at Oswego

Stellenbosch University

Stonehill College

Tallinn University

Tallinn University of Technology

Tampere University of Technology

Tanta University

Tarrant County College

Technical University of Cluj-Napoca

Technion

Tel Aviv University

The Jerusalem collage of engineering

The University of Latvia

The University of Manchester

The University of South Africa

Transilvania University

Tufts University

UC Berkeley

UCLA

UCSD

UIUC

UMD

UNISA

UNIVERSIDAD DE Buenos Aires

UOC

USC

UW Madison

Universidad Central de Venezuela

Universidad Complutense de Madrid

Universidad Cooperativa de Colombia

Universidad Nacional Autonoma de Mexico

Universidad Nacional Costa Rica

Universidad Nacional de Colombia

Universidad Tecnologica Boliviana

Universidad de Buenos Aires

Universidad de Castilla La Mancha

Universidad de Los Andes Colombia

Universidad de Oriente

Universidad de San Carlos de Guatemala

Universidad de Valladolid

Universidad de la Sabana

Universidad del Valle de Guatemala

Universidade Federal da Paraiba

Universidade Federal de Santa Catarina

Universidade Federal do Rio Grande do Sul

Universidade Federal do Rio de Janeiro

Universidade Tecnica de Lisboa

Universidade de Sao Paulo

Universidade do Minho

Universitas Gadjah Mada

Universitat Politecnica de Valencia

Universite Catholique de Louvain

University College Dublin

University Munich

University of Akron

University of Alberta

University of Amsterdam

University of Arkansas

University of Athens

University of Belgrade

University of Birmingham

University of Buenos Aires

University of Cambridge

University of Central Oklahoma

University of Chicago

University of Cincinnati

University of Colorado at Boulder

University of Connecticut

University of Dallas

University of Debrecen

University of Delaware

University of Erlangen-Nuremberg

University of Essex

University of Evora

University of Florida

University of Gothenburg

University of Greifswald

University of Hamburg

University of Hawaii

University of Helsinki

University of Ilorin Kwara State

University of Jaffna

University of Kansas

University of Kerala

University of London

University of Malaga

University of Malaya

University of Manchester

University of Michigan

University of Missouri - Columbia

University of Moratuwa

University of Mumbai

University of Nebraska

University of Nebraska - Lincoln

University of New Haven

University of New South Wales

University of Notre Dame

University of Oklahoma

University of Ottawa

University of Oxford

University of Padua

University of Pavia Italy

University of Pennsylvania

University of Piraeus Athens

University of Pretoria

University of Salamanca

University of Sao Paulo

University of Sarajevo

University of Southern California

University of Stellenbosch

University of Tartu

University of Tehran

University of Texas

University of Texas at Austin

University of Toronto

University of Tuebingen

University of Twente

University of Utah

University of Vienna

University of Warsaw

University of Washington

University of Washington - Bothell

University of Waterloo

University of West Florida

University of Wisconsin

University of the Punjab Lahore

University of the Witwatersrand

Vilnius Gediminas Technical University

Vilnius University

Virginia Commonwealth University

Virginia Tech

Viswakarma Institute Pune India

Warsaw University

Washington State University

Wayne State

Weber State

Weizmann Institute of Science

Western Governors University

Xavier University

Zagazig University

allama iqbal open university islamabad

arizona state university

federal institute of tecnology and education from southeastern Minas Gerais

kansas state university

universidad complutense de madrid

university of Patras

university of padua

Indian Institute of Technology Madras India

In [27]:
f.close()

In [30]:
# %load geoload.py
import urllib.request, urllib.parse, urllib.error
import http
import sqlite3
import json
import time
import ssl
import sys

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'

if api_key is False:
    api_key = 42
    serviceurl = "http://py4e-data.dr-chuck.net/json?"
else :
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?"

# Additional detail for urllib
# http.client.HTTPConnection.debuglevel = 1

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS Locations (address TEXT, geodata TEXT)''')

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

fh = open("where.data")
count = 0
for line in fh:
    if count > 200 :
        print('Retrieved 200 locations, restart to retrieve more')
        break

    address = line.strip()
    print('')
    cur.execute("SELECT geodata FROM Locations WHERE address= ?",
        (memoryview(address.encode()), ))

    try:
        data = cur.fetchone()[0]
        print("Found in database ",address)
        continue
    except:
        pass

    parms = dict()
    parms["address"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters', data[:20].replace('\n', ' '))
    count = count + 1

    try:
        js = json.loads(data)
    except:
        print(data)  # We print in case unicode causes an error
        continue

    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    cur.execute('''INSERT INTO Locations (address, geodata)
            VALUES ( ?, ? )''', (memoryview(address.encode()), memoryview(data.encode()) ) )
    conn.commit()
    if count % 10 == 0 :
        print('Pausing for a bit...')
        time.sleep(5)

print("Run geodump.py to read the data from the database so you can vizualize it on a map.")

Found in database  AGH University of Science and Technology

Found in database  Academy of Fine Arts Warsaw Poland

Found in database  American University in Cairo

Found in database  Arizona State University

Found in database  Athens Information Technology

Found in database  BITS Pilani

Found in database  Babcock University

Found in database  Banaras Hindu University

Found in database  Bangalore University

Found in database  Baylor University

Found in database  Beijing normal university

Found in database  Belarusian State University

Found in database  Belgrade University

Found in database  Beloit College

Found in database  Belorussian State University

Found in database  Ben Gurion University

Found in database  Bharthidasan University

Found in database  Boston University

Found in database  California Polytechnic State University of San Luis Obispo

Found in database  California State University San Bernardino

Found in database  City of Westminster College

Found in database  Columbia University

Found in database  Cranfield University

Found in database  Czech Technical University in Prague

Found in database  Dartmouth

Found in database  De Anza College

Found in database  Distant University of Hagen

Found in database  Dnipropetrovsk National University

Found in database  Dokuz Eylul University

Found in database  Drexel

Found in database  Drexel University and University of Texas at Austin

Found in database  Duke University

Found in database  EM Lyon

Found in database  Ecole centrale de PARIS

Found in database  Elon University

Found in database  Erhvervsakademi Sydvest

Found in database  Escuela Superior Politecnica del Litoral

Found in database  Fachhochschule Dusseldorf

Found in database  Fachhochschule FH Salzburg

Found in database  Faculdade de Tecnologia do Estado de Sao Paulo

Found in database  Faculty of Technical Sciences Novi Sad Serbia

Found in database  Farmingdale State University

Found in database  Federal University of Minas Gerais

Found in database  Florida Atlantic University

Found in database  Franklin Pierce College

Found in database  Gauhati University

Found in database  George Mason University

Found in database  Georgetown University Law Center

Found in database  Georgia State University

Found in database  Grandville

Found in database  Groep T University

Found in database  Hanoi University of Science and Technology

Found in database  Hebrew University

Found in database  IIIT Hyderabad

Found in database  IIT KANPUR

Found in database  IT College of Estonia

Found in database  IU

Found in database  IUAV Venezia

Found in database  Illinois Institute of Technology

Found in database  Illinois State University Joliet Junior College

Found in database  Indian Institute of Technology

Found in database  Indian Institute of Technology Kharagpur India

Found in database  Indian School of Mines Dhanbad

Found in database  Indiana University

Found in database  Indiana University at Bloomington

Found in database  Institut Superieur de technologies

Found in database  Institute of Business and Modern Technologies

Found in database  Instituto Tecnologico de Santo Domingo

Found in database  International Institute of Information Technology Hyderabad

Found in database  Irkutsk State University

Found in database  JADAVPUR UNIVERSITY

Found in database  Jawaharlal Nehru Technological University

Found in database  Jawaharlal Nehru University

Found in database  Jordan University of Science and Technology

Found in database  K-State

Found in database  KUL

Found in database  Kalamazoo College

Found in database  Kaunas Technology University

Found in database  Kaunas university of technology

Found in database  Kazan Federal University

Found in database  Kent State University

Found in database  Kharkiv State Academy of Municipal Economy Ukraine

Found in database  King Mongkuts University of Technology Thonburi

Found in database  Kokshetau Institute of Economics and Management

Found in database  Kyiv Polytechnic Institute

Found in database  Kyiv Polytechnical Institute

Found in database  Kyiv Unisersity of Oriental Language

Found in database  Laurentian University

Found in database  Lisandro Alvarado

Found in database  Lodz University of Technology

Found in database  Lviv University

Found in database  MSU

Found in database  Madras university

Found in database  Magnitogorsk State Technical University

Found in database  Malayer Azad University

Found in database  Marietta College

Found in database  Masdar Institute

Found in database  Matematicki fakultet Beograd

Found in database  Michigan State University

Found in database  Middle East Technical University

Found in database  Missouri University of Science and Technology

Found in database  Monash

Found in database  Monash University

Found in database  Monash University Churchill Australia

Found in database  Monterrey Institute of Technology and Higher Education

Found in database  Moscow Engineering-Physics Institute

Found in database  Moscow Institute of Physics & Technology

Found in database  Moscow State University

Found in database  NIT ROURKELA

Found in database  NYU

Found in database  Nagpur University

Found in database  Nanyang Technological University

Found in database  National Institute of Technology Jalandhar

Found in database  National Taiwan University

Found in database  National University of Engineering

Found in database  North Central College

Found in database  Northeastern University

Found in database  Northwestern University

Found in database  Obninsk Technical University of Nuclear Power Engineering Russia

Found in database  Old Dominion University

Found in database  Oregon Institute of Technology

Found in database  PUCMM

Found in database  Payame Noor University

Found in database  Penn State University

Found in database  Politecnico di Milano

Found in database  Politehnica University Bucharest

Found in database  Polytechnic University of Timisoara

Found in database  Pondicherry University

Found in database  Pontificia universidad catolica de chile

Found in database  Portland State University

Found in database  Purdue University Indianapolis

Found in database  R V College of Engineering

Found in database  RPI

Found in database  Ramapo College of New Jersey

Found in database  Rochester Institute of Technology

Found in database  SASTRA University

Found in database  Saint Petersburg State University

Found in database  Saint Petersburg State University of Aerospace Instrumentation

Found in database  Saint-Petersburg Polytechnic Univesity

Found in database  San Francisco State University

Found in database  San Jose State University

Found in database  Shanghai Jiao Tong University

Found in database  Sharif University of Technology

Found in database  Simon Bolivar University

Found in database  Simon Fraser University

Found in database  Smolensk State University

Found in database  Sonoma State University

Found in database  South Federal University

Found in database  Spiru Haret University

Found in database  Stanford

Found in database  State University of Campinas

Found in database  State University of New York College at Oswego

Found in database  Stellenbosch University

Found in database  Stonehill College

Found in database  Tallinn University

Found in database  Tallinn University of Technology

Found in database  Tampere University of Technology

Found in database  Tanta University

Found in database  Tarrant County College

Found in database  Technical University of Cluj-Napoca

Found in database  Technion

Found in database  Tel Aviv University

Found in database  The Jerusalem collage of engineering

Found in database  The University of Latvia

Found in database  The University of Manchester

Found in database  The University of South Africa

Found in database  Transilvania University

Found in database  Tufts University

Found in database  UC Berkeley

Found in database  UCLA

Found in database  UCSD

Found in database  UIUC

Found in database  UMD

Found in database  UNISA

Found in database  UNIVERSIDAD DE Buenos Aires

Found in database  UOC

Found in database  USC

Found in database  UW Madison

Found in database  Universidad Central de Venezuela

Found in database  Universidad Complutense de Madrid

Found in database  Universidad Cooperativa de Colombia

Found in database  Universidad Nacional Autonoma de Mexico

Found in database  Universidad Nacional Costa Rica

Found in database  Universidad Nacional de Colombia

Found in database  Universidad Tecnologica Boliviana

Found in database  Universidad de Buenos Aires

Found in database  Universidad de Castilla La Mancha

Found in database  Universidad de Los Andes Colombia

Found in database  Universidad de Oriente

Found in database  Universidad de San Carlos de Guatemala

Found in database  Universidad de Valladolid

Found in database  Universidad de la Sabana

Found in database  Universidad del Valle de Guatemala

Found in database  Universidade Federal da Paraiba

Found in database  Universidade Federal de Santa Catarina

Found in database  Universidade Federal do Rio Grande do Sul

Found in database  Universidade Federal do Rio de Janeiro

Found in database  Universidade Tecnica de Lisboa

Found in database  Universidade de Sao Paulo

Found in database  Universidade do Minho

Found in database  Universitas Gadjah Mada

Retrieving http://py4e-data.dr-chuck.net/json?address=Universitat+Politecnica+de+Valencia&key=42

Retrieved 2118 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Universite+Catholique+de+Louvain&key=42
Retrieved 2407 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+College+Dublin&key=42
Retrieved 1667 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+Munich&key=42
Retrieved 2271 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Akron&key=42
Retrieved 2112 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Alberta&key=42
Retrieved 1626 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Amsterdam&key=42
Retrieved 2050 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Arkansas&key=42
Retrieved 2066 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Athens&key=42
Retrieved 1627 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Belgrade&key=42
Retrieved 1945 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Birmingham&key=42
Retrieved 1804 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Buenos+Aires&key=42
Retrieved 2132 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Cambridge&key=42
Retrieved 2138 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Central+Oklahoma&key=42
Retrieved 2287 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Chicago&key=42
Retrieved 2473 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Cincinnati&key=42
Retrieved 2310 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Colorado+at+Boulder&key=42
Retrieved 1816 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Connecticut&key=42
Retrieved 1813 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Dallas&key=42
Retrieved 2279 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Debrecen&key=42
Retrieved 1711 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Delaware&key=42
Retrieved 3889 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Erlangen-Nuremberg&key=42
Retrieved 2263 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Essex&key=42
Retrieved 2004 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Evora&key=42
Retrieved 1921 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Florida&key=42
Retrieved 1820 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Gothenburg&key=42
Retrieved 1814 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Greifswald&key=42
Retrieved 1911 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Hamburg&key=42
Retrieved 1787 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Hawaii&key=42
Retrieved 4344 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Helsinki&key=42
Retrieved 1720 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Ilorin+Kwara+State&key=42
Retrieved 1616 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Jaffna&key=42
Retrieved 1478 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Kansas&key=42
Retrieved 2129 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Kerala&key=42
Retrieved 2306 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+London&key=42
Retrieved 2305 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Malaga&key=42
Retrieved 2083 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Malaya&key=42
Retrieved 1917 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Manchester&key=42
Retrieved 1978 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Michigan&key=42
Retrieved 2136 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Missouri+-+Columbia&key=42
Retrieved 1814 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Moratuwa&key=42
Retrieved 1992 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Mumbai&key=42
Retrieved 2488 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Nebraska&key=42
Retrieved 3881 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Nebraska+-+Lincoln&key=42
Retrieved 3884 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+New+Haven&key=42
Retrieved 2150 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+New+South+Wales&key=42
Retrieved 1818 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Notre+Dame&key=42
Retrieved 1840 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Oklahoma&key=42
Retrieved 2129 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Ottawa&key=42
Retrieved 2312 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Oxford&key=42
Retrieved 1785 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Padua&key=42
Retrieved 2294 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pavia+Italy&key=42
Retrieved 2301 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pennsylvania&key=42
Retrieved 1846 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Piraeus+Athens&key=42
Retrieved 1917 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pretoria&key=42
Retrieved 2222 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Salamanca&key=42
Retrieved 1785 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Sao+Paulo&key=42
Retrieved 1512 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Sarajevo&key=42
Retrieved 2209 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Southern+California&key=42
Retrieved 2022 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Stellenbosch&key=42
Retrieved 1903 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tartu&key=42
Retrieved 1906 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tehran&key=42

Retrieved 1498 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Texas&key=42
Retrieved 1795 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Texas+at+Austin&key=42
Retrieved 1795 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Toronto&key=42
Retrieved 2327 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tuebingen&key=42
Retrieved 2186 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Twente&key=42
Retrieved 1615 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Utah&key=42
Retrieved 2157 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Vienna&key=42
Retrieved 2094 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Warsaw&key=42
Retrieved 2331 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Washington&key=42
Retrieved 1815 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Washington+-+Bothell&key=42
Retrieved 2288 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Waterloo&key=42
Retrieved 2166 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+West+Florida&key=42
Retrieved 2355 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Wisconsin&key=42
Retrieved 1804 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+the+Punjab+Lahore&key=42
Retrieved 4571 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+the+Witwatersrand&key=42
Retrieved 2391 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Vilnius+Gediminas+Technical+University&key=42
Retrieved 2142 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Vilnius+University&key=42
Retrieved 4239 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Virginia+Commonwealth+University&key=42
Retrieved 1921 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=Virginia+Tech&key=42
Retrieved 4612 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Viswakarma+Institute+Pune+India&key=42
Retrieved 2357 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Warsaw+University&key=42
Retrieved 2331 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Washington+State+University&key=42
Retrieved 1767 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Wayne+State&key=42
Retrieved 1921 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Weber+State&key=42
Retrieved 2119 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Weizmann+Institute+of+Science&key=42
Retrieved 1919 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Western+Governors+University&key=42
Retrieved 2293 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Xavier+University&key=42
Retrieved 4558 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Zagazig+University&key=42
Retrieved 1925 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=allama+iqbal+open+university+islamabad&key=42
Retrieved 2911 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=arizona+state+university&key=42
Retrieved 1802 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=federal+institute+of+tecnology+and+education+from+southeastern+Minas+Gerais&key=42
Retrieved 2279 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=kansas+state+university&key=42
Retrieved 1807 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=universidad+complutense+de+madrid&key=42
Retrieved 2088 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=university+of+Patras&key=42
Retrieved 1656 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=university+of+padua&key=42
Retrieved 2294 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Indian+Institute+of+Technology+Madras+India&key=42
Retrieved 2016 characters {    "results" : [
Run geodump.py to read the data from the database so you can vizualize it on a map.

In [45]:
# cur.execute('''SELECT * FROM Locations''')
# for row in cur:
#     print(row)

In [44]:
# %load geodump.py
import sqlite3
import json
import codecs

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('SELECT * FROM Locations')
fhand = codecs.open('where.js', 'w', "utf-8")
fhand.write("myData = [\n")
count = 0
for row in cur :
    data = str(row[1].decode())
    try: js = json.loads(str(data))
    except: continue

    if not('status' in js and js['status'] == 'OK') : continue

    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue
    where = js['results'][0]['formatted_address']
    where = where.replace("'", "")
    try :
        print(where, lat, lng)

        count = count + 1
        if count > 1 : fhand.write(",\n")
        output = "["+str(lat)+","+str(lng)+", '"+where+"']"
        fhand.write(output)
    except:
        continue

fhand.write("\n];\n")
cur.close()
fhand.close()
print(count, "records written to where.js")
print("Open where.html to view the data in a browser")

aleja Adama Mickiewicza 30, 30-059 Krakw, Poland 50.06688579999999 19.9136192
Krakowskie Przedmiecie 5, 00-068 Warszawa, Poland 52.2394019 21.0150792
AUC Avenue Road Cairo Governorate 11835, Egypt 30.018923 31.499674
Tempe, AZ 85281, USA 33.4242399 -111.9280527
300, 2500 Daniells Bridge Rd, Athens, GA 30606, USA 33.9094132 -83.4603953
Vidya Vihar, Pilani, Rajasthan 333031, India 28.3588163 75.58802039999999
Ilishan-Remo, Nigeria 6.8939569 3.7187158
Ajagara, Varanasi, Uttar Pradesh 221005, India 25.2677203 82.99125819999999
Gnana Bharathi Main Rd, Gnana Bharathi, Bengaluru, Karnataka 560056, India 12.9504371 77.5022085
1301 S University Parks Dr, Waco, TX 76706, USA 31.5497007 -97.1143046
19 Xinjiekou Outer St, Bei Tai Ping Zhuang, Haidian Qu, Beijing Shi, China, 100875 39.9619537 116.3662615
praspiekt Niezalienasci 4, Minsk, Belarus 53.8938988 27.5460609
Studentski trg 1, Beograd, Serbia 44.8184339 20.4575676
700 College St, Beloit, WI 53511, USA 42.5030333 -89.0309048
praspiekt Niezalienasci 4, Minsk, Belarus 53.8938988 27.5460609
 - 1,  , Israel 31.262218 34.801461
Palkalaiperur, Tiruchirappalli, Tamil Nadu 620024, India 10.6779085 78.74454879999999
Boston, MA 02215, USA 42.3504997 -71.1053991
San Luis Obispo, CA 93407, USA 35.3050053 -120.6624942
5500 University Pkwy, San Bernardino, CA 92407, USA 34.1821786 -117.3235324
25 Paddington Green, London W2 1NB, UK 51.5210038 -0.1746353
116th St & Broadway, New York, NY 10027, United States 40.8075355 -73.9625727
College Rd, Cranfield, Bedford MK43 0AL, UK 52.0746136 -0.6282833
Zikova 1903/4, 166 36 Praha 6, Czechia 50.1030364 14.3912841
Hanover, NH 03755, USA 43.7044406 -72.2886935
21250 Stevens Creek Blvd, Cupertino, CA 95014, USA 37.3201481 -122.0453953
Universittsstrae 47, 58097 Hagen, Germany 51.377409 7.4921548
Haharina Ave, 72, Dnipropetrovsk, Dnipropetrovska oblast, Ukraine, 49000 48.4331922 35.0427966
Kltr, Cumhuriyet Blv No:144, 35220 Konak/zmir, Turkey 38.4306911 27.1369201
3141 Chestnut St, Philadelphia, PA 19104, USA 39.9566127 -75.18994409999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Durham, NC 27708, USA 36.0014258 -78.9382286
23 Avenue Guy de Collongue, 69130 cully, France 45.786447 4.764139000000001
3 Rue Joliot Curie, 91190 Gif-sur-Yvette, France 48.708759 2.164006
50 Campus Drive, Elon, NC 27244, USA 36.1060867 -79.5053531
Spangsbjerg Kirkevej 103, 6700 Esbjerg, Denmark 55.48843069999999 8.4467103
Va Perimetral 5, Guayaquil, Ecuador -2.1481458 -79.9644885
Mnsterstrae 156, 40476 Dsseldorf, Germany 51.2468622 6.791686899999999
Urstein Sd 1, 5412 Puch bei Hallein, Austria 47.72336 13.0871409
Av. Pereira Barreto, 400 - Baeta Neves, So Bernardo do Campo - SP, 09751-000, Brazil -23.6958721 -46.54702839999999
Trg Dositeja Obradovia 6, Novi Sad 106314, Serbia 45.2461012 19.8516968
2350 NY-110, Farmingdale, NY 11735, USA 40.7529512 -73.4267093
Av. Pres. Antnio Carlos, 6627 - Pampulha, Belo Horizonte - MG, 31270-901, Brazil -19.870682 -43.9677359
777 Glades Rd, Boca Raton, FL 33431, USA 26.3749876 -80.10106329999999
40 University Dr, Rindge, NH 03461, USA 42.7793667 -72.0560856
Jalukbari, Guwahati, Assam 781014, India 26.1543199 91.66316789999999
4400 University Dr, Fairfax, VA 22030, USA 38.8336468 -77.3146731
600 New Jersey Ave NW, Washington, DC 20001, USA 38.8977953 -77.0129087
Atlanta, GA 30302, USA 33.753068 -84.38528190000001
Grandville, MI, USA 42.9097484 -85.7630885
Oude Markt 13, 3000 Leuven, Belgium 50.87795449999999 4.7002953
1 i C Vit, Bch Khoa, Hai B Trng, H Ni, Vietnam 21.0048067 105.8453406
Jerusalem 31.7945578 35.2414009
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4452358 78.3492765
Kalyanpur, Kanpur, Uttar Pradesh 208016, India 26.5123388 80.2329
Raja 4, 12616 Tallinn, Estonia 59.3954769 24.6643815
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
Santa Croce, 191, 30135 Venezia VE, Italy 45.4377642 12.3226561
10 W 35th St, Chicago, IL 60616, USA 41.8348731 -87.6270059
100 N University St, Normal, IL 61761, USA 40.5122833 -88.9946702
IIT Campus, Hauz Khas, New Delhi, Delhi 110016, India 28.5449756 77.19262839999999
Kharagpur, West Bengal 721302, India 22.3149274 87.31053109999999
Police Line, Sardar Patel Nagar, Hirapur, Dhanbad, Jharkhand 826004, India 23.8143819 86.44120219999999
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
1100 Rue Notre-Dame Ouest, Montral, QC H3C 1K3, Canada 45.494546 -73.562246
2400 Walsh Ave, Santa Clara, CA 95051, USA 37.3686167 -121.9695133
Av. de Los Prceres 49, Santo Domingo 10602, Dominican Republic 18.487876 -69.96229199999999
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4452358 78.3492765
Karl Marx St, 1, Irkutsk, Irkutskaya oblast, Russia, 664003 52.2766124 104.2777287
Jadavpur university gate 3, West Bengal 700032, India 22.4978411 88.3717181
Kukatpally, Hyderabad, Telangana 500085, India 17.4932742 78.39146389999999
New Mehrauli Road, JNU Ring Rd, Delhi 110067, India 28.540214 77.1661949
Ar Ramtha 3030 Ar-Ramtha, Jordan 32.4950392 35.9912257
Manhattan, KS 66506, USA 39.1974437 -96.5847249
1 Hospital Dr, Columbia, MO 65212, USA 38.9385202 -92.32786569999999
1200 Academy St, Kalamazoo, MI 49006, USA 42.290035 -85.598145
K. Donelaiio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
K. Donelaiio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
Kremlyovskaya St, 18, Kazan, Respublika Tatarstan, Russia, 420008 55.790447 49.1214349
800 E Summit St, Kent, OH 44240, USA 41.1455594 -81.33928829999999
Klochkivska St, 99, Kharkiv, Kharkivska oblast, Ukraine, 61000 50.004236 36.2172852
126 Pracha Uthit Rd, Khwaeng Bang Mot, Khet Thung Khru, Krung Thep Maha Nakhon 10140, Thailand 13.6510248 100.4953802
Kokshetau 020000, Kazakhstan 53.2871307 69.40444939999999
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4488824 30.4572542
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4488824 30.4572542
Lvivska St, 25, Kyiv, Ukraine, 03115 50.4535439 30.3654117
935 Ramsey Lake Rd, Sudbury, ON P3E 2C6, Canada 46.4667708 -80.9742332
Stefana eromskiego 116, 90-924 d, Poland 51.7537146 19.4517176
Universytetska St, 1, Lviv, Lvivska oblast, Ukraine, 79000 49.8406108 24.0225099
220 Trowbridge Rd, East Lansing, MI 48824, USA 42.701848 -84.4821719
Navalar Nagar, Chepauk, Triplicane, Chennai, Tamil Nadu 600005, India 13.0660293 80.28317190000001
Prospekt Lenina, 38, Magnitogorsk, Chelyabinskaya oblast, Russia, 455000 53.4222397 58.9824868
Hamadan Province, Malayer, University Blvd, Iran 34.304073 48.8452846
215 5th St, Marietta, OH 45750, USA 39.41665649999999 -81.44993509999999
Near Home WTC AUH, Airport Road - Masdar City - Abu Dhabi - United Arab Emirates 24.4330231 54.619113
Studentski trg 16, Beograd 105104, Serbia 44.8199188 20.4587075
220 Trowbridge Rd, East Lansing, MI 48824, USA 42.701848 -84.4821719
niversiteler, Dumlupnar Blv. No:1, 06800 ankaya/Ankara, Turkey 39.8910203 32.7780027
106, Parker Hall, 300 W 13th St, Rolla, MO 65409, United States 37.9537078 -91.7756271
Wellington Rd, Clayton VIC 3800, Australia -37.9105238 145.1362182
Wellington Rd, Clayton VIC 3800, Australia -37.9105238 145.1362182
Northways Rd, Churchill VIC 3842, Australia -38.311211 146.429409
Av. Eugenio Garza Sada 2501 Sur, Tecnolgico, 64849 Monterrey, N.L., Mexico 25.6515649 -100.28954
Kashira Hwy, 31, Moskva, Russia, 115409 55.6497221 37.6640081
Institutskiy Pereulok, 9, Dolgoprudny, Moskovskaya oblast, Russia, 141701 55.9297243 37.5199434
ul. Leninskiye Gory, 1, Moskva, Russia, 119991 55.70393490000001 37.5286696
National Institute of Technology, Sector 1, Rourkela, Odisha 769008, India 22.2533781 84.9012363
New York, NY 10003, USA 40.72951339999999 -73.9964609
Amravati Rd, Ram Nagar, Nagpur, Maharashtra 440033, India 21.1468555 79.050062
50 Nanyang Ave, Singapore 639798 1.3483099 103.6831347
Grand Trunk Road, Bye pass, Jalandhar, Punjab 144011, India 31.3961507 75.5353566
No. 1, Section 4, Roosevelt Rd, Daan District, Taipei City, Taiwan 10617 25.0173405 121.5397518
Avenida Tupac Amaru 210 Apartado 1301, Rmac 15333, Peru -12.0237376 -77.04837739999999
30 N Brainard St, Naperville, IL 60540, USA 41.7757531 -88.1428133
360 Huntington Ave, Boston, MA 02115, USA 42.3398067 -71.0891717
633 Clark St, Evanston, IL 60208, USA 42.0564594 -87.67526699999999
 , 1, Obninsk, Kaluzhskaya oblast, Russia, 249034 55.1372019 36.6064735
5115 Hampton Blvd, Norfolk, VA 23529, USA 36.8853217 -76.3058786
3201 Campus Dr, Klamath Falls, OR 97601, USA 42.2586823 -121.7836222
Autopista Duarte Km 1 1/2, Santiago De Los Caballeros 51000, Dominican Republic 19.4436005 -70.6843785
Tehran Province, Tehran,    , Nakhl St, Iran 35.8012314 51.5028533
State College, PA 16801, USA 40.7982133 -77.8599084
Piazza Leonardo da Vinci, 32, 20133 Milano MI, Italy 45.47809059999999 9.2282377
Splaiul Independenei 313, Bucureti 060042, Romania 44.4386064 26.0494925
Piaa Victoriei 2, Timioara 300006, Romania 45.7536393 21.2251615
Airport Road, Near Ground, Goverment Quaters, Lawspet, Puducherry, 605009, India 11.964288 79.8134879
Av Libertador Bernardo OHiggins 340, Santiago, Regin Metropolitana, Chile -33.4411279 -70.6407933
1825 SW Broadway, Portland, OR 97201, USA 45.5111102 -122.6833424
420 University Blvd, Indianapolis, IN 46202, USA 39.7738832 -86.1763393
Mysore Rd, RV Vidyaniketan, Post, Bengaluru, Karnataka 560059, India 12.9237228 77.4987012
110 8th St, Troy, NY 12180, USA 42.730172 -73.67880300000002
505 Ramapo Valley Rd, Mahwah, NJ 07430, USA 41.0819323 -74.1758157
1 Lomb Memorial Dr, Rochester, NY 14623, USA 43.0845894 -77.67434449999999
Trichy-Tanjore Road, Thirumalaisamudram, Thanjavur, Tamil Nadu 613401, India 10.7285131 79.0184111
University Embankment, 7/9, Sankt-Peterburg, Russia, 199034 59.941894 30.2989199
Bolshaya Morskaya Ulitsa, 67, Sankt-Peterburg, Russia, 190000 59.929491 30.2966081
Politekhnicheskaya Ulitsa, 29, Sankt-Peterburg, Russia, 195251 60.007357 30.372899
1600 Holloway Ave, San Francisco, CA 94132, USA 37.7241492 -122.4799405
1 Washington Sq, San Jose, CA 95192, USA 37.3351874 -121.8810715
China, Shanghai, Minhang,  : 200240 31.0252201 121.4337784
    Iran 35.7036366 51.351593
Sartenejas, Caracas, Miranda, Venezuela 10.408363 -66.8755735
8888 University Dr, Burnaby, BC V5A 1S6, Canada 49.2780937 -122.9198833
Ulitsa Przhevalskogo, 4, Smolensk, Smolenskaya oblast, Russia, 214000 54.7845032 32.0452469
1801 E Cotati Ave, Rohnert Park, CA 94928, USA 38.3395188 -122.6744666
, Bolshaya Sadovaya Ulitsa, 105/42, Rostov-on-Don, Rostov Oblast, Russia, 344006 47.224719 39.7283339
Strada Ion Ghica 13, Bucureti 030045, Romania 44.4332166 26.1009718
450 Serra Mall, Stanford, CA 94305, USA 37.4274745 -122.169719
Cidade Universitria Zeferino Vaz - Baro Geraldo, Campinas - SP, 13083-970, Brazil -22.8184393 -47.0647206
7060 NY-104, Oswego, NY 13126, USA 43.45139280000001 -76.5425285
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
320 Washington St, North Easton, MA 02357, USA 42.0590153 -71.0806276
Narva maantee 25, 10120 Tallinn, Estonia 59.438742 24.771645
Ehitajate tee 5, 12616 Tallinn, Estonia 59.39586429999999 24.6710168
Korkeakoulunkatu 7 Kampusareena, 33720 Tampere, Finland 61.4498286 23.8589986
El-Gaish, Tanta Qism 2, Tanta, Gharbia Governorate, Egypt 30.7924391 30.9991409
1500 Houston St, Fort Worth, TX 76102, USA 32.7474661 -97.3278753
Strada Memorandumului 28, Cluj-Napoca 400114, Romania 46.769299 23.585613
Haifa, 3200003, Israel 32.7767783 35.0231271
Tel Aviv-Yafo, Israel 32.1133141 34.8043877
Velachery Main Rd, Narayanapuram, Pallikaranai, Chennai, Tamil Nadu 600100, India 12.9452892 80.207843
Raia bulvris 19, Centra rajons, Rga, LV-1586, Latvia 56.95080979999999 24.1163132
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
Preller St, Muckleneuk, Pretoria, 0002, South Africa -25.7676588 28.1992637
300 N Broadway, Lexington, KY 40508, USA 38.0516801 -84.49334189999999
419 Boston Ave, Medford, MA 02155, USA 42.4074843 -71.1190232
Berkeley, CA, USA 37.8718992 -122.2585399
Los Angeles, CA 90095, USA 34.068921 -118.4451811
9500 Gilman Dr, La Jolla, CA 92093, USA 32.8800604 -117.2340135
Champaign, IL, USA 40.1019523 -88.2271615
1049 University Dr, Duluth, MN 55812, USA 46.8186613 -92.0835669
7400 E Arapahoe Rd # 10, Centennial, CO 80112, USA 39.5944577 -104.9024569
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
101 Regent Ct, State College, PA 16801, USA 40.785212 -77.82307039999999
Los Angeles, CA 90007, USA 34.0223519 -118.285117
Madison, WI 53706, USA 43.076592 -89.4124875
Caracas, Capital District, Venezuela 10.4883502 -66.8891696
Av. Sneca, 2, 28040 Madrid, Spain 40.4454368 -3.7299424
#49- a, Cra. 42 #49137, Medelln, Antioquia, Colombia 6.2463278 -75.5624103
University City, 04510 Mexico City, CDMX, Mexico 19.3228313 -99.18657739999999
Avenida 1, Calle 9 Heredia 86, 3000, Costa Rica 9.998686099999999 -84.11118580000002
Cra 45, Bogot, Colombia 4.6381938 -74.08404639999999
Calle Colombia 154, La Paz, Bolivia -16.500656 -68.134299
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
Avda. Camilo Jos Cela, s/n, 13071 Ciudad Real, Cdad. Real, Spain 38.99404390000001 -3.9204979
Cra. 1 #18a 12, Bogot, Cundinamarca, Colombia 4.601363 -74.06609999999999
Av. Juarez 1517, Zona Esmeralda, 72090 Puebla, Pue., Mexico 19.0479137 -98.2116784
Avenida 11, Guatemala 01012, Guatemala 14.5863885 -90.5528132
C/Plaza de Santa Cruz, 8, 47002 Valladolid, Spain 41.6569271 -4.7140547
Cha, Cundinamarca, Colombia 4.8615787 -74.0325368
18 Avenida 11-95 Guatemala, 01015, Guatemala 14.603762 -90.48924799999999
Campus I - Lot. Cidade Universitaria, PB, 58051-900, Brazil -7.1373701 -34.8455514
R. Eng. Agronmico Andrei Cristian Ferreira, s/n - Trindade, Florianpolis - SC, 88040-900, Brazil -27.6007034 -48.5191775
Av. Paulo Gama, 110 - Farroupilha, Porto Alegre - RS, 90040-060, Brazil -30.0335969 -51.2198396
Av. Pedro Calmon, 550 - Cidade Universitria, Rio de Janeiro - RJ, 21941-901, Brazil -22.9541412 -43.1753638
Av. Rovisco Pais 1, 1049-001 Lisboa, Portugal 38.7368192 -9.138705
Butanta, So Paulo - State of So Paulo, Brazil -23.5613991 -46.7307891
Austin, TX 78712, USA 30.2849185 -97.7340567
Bulaksumur, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281, Indonesia -7.7713847 110.3774998
Cam de Vera, s/n, 46022 Valncia, Valencia, Spain 39.4807985 -0.3406299
Place de lUniversit 1, 1348 Ottignies-Louvain-la-Neuve, Belgium 50.66968749999999 4.6155909
Belfield, Dublin, Ireland 53.30823119999999 -6.224133
Arcisstrae 21, 80333 Mnchen, Germany 48.14966 11.5678602
302 E Buchtel Ave, Akron, OH 44325, USA 41.076655 -81.5113386
116 St & 85 Ave, Edmonton, AB T6G 2R3, Canada 53.5232189 -113.5263186
1012 WX Amsterdam, Netherlands 52.35581819999999 4.955726299999999
Fayetteville, AR 72701, USA 36.0686895 -94.1748471
Athens 157 72, Greece 37.968196 23.7786871
Studentski trg 1, Beograd, Serbia 44.8184339 20.4575676
Birmingham B15 2TT, UK 52.4508168 -1.9305135
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
The Old Schools, Trinity Ln, Cambridge CB2 1TN, UK 52.2042666 0.1149085
100 N University Dr, Edmond, OK 73034, USA 35.6577749 -97.4715226
5801 S Ellis Ave, Chicago, IL 60637, USA 41.7886079 -87.5987133
2600 Clifton Ave, Cincinnati, OH 45221, USA 39.1329219 -84.51495039999999
Boulder, CO 80309, USA 40.00758099999999 -105.2659417
Storrs, CT 06269, USA 41.8077414 -72.2539805
1845 E Northgate Dr, Irving, TX 75062, USA 32.8462097 -96.9210392
Debrecen, Egyetem tr 1, 4032 Hungary 47.5535039 21.6214756
Newark, DE 19716, USA 39.6779504 -75.7506114
Schloplatz 4, 91054 Erlangen, Germany 49.5978804 11.0045507
Wivenhoe Park, Colchester CO4 3SQ, UK 51.87772589999999 0.9472069000000001
Largo dos Colegiais 2, 7000-803 vora, Portugal 38.5731454 -7.9056599
Gainesville, FL 32611, USA 29.6436325 -82.3549302
405 30 Gothenburg, Sweden 57.6981719 11.971878
Domstrae 11, 17489 Greifswald, Germany 54.095094 13.3746059
20146 Hamburg, Germany 53.5665641 9.984619499999999
2500 Campus Rd, Honolulu, HI 96822, USA 21.296939 -157.8171118
Yliopistonkatu 4, 00100 Helsinki, Finland 60.1726348 24.9510419
Ilorin, Nigeria 8.4912458 4.5949818
Sir. Pon Ramanathan Road, Thirunelvelly, 40000, Sri Lanka 9.684855599999999 80.0220413
1450 Jayhawk Blvd, Lawrence, KS 66045, USA 38.9543439 -95.2557961
University of Kerala Senate House Campus, Palayam, Thiruvananthapuram, Kerala 695034, India 8.5032375 76.9473306
Senate House, Malet St, Bloomsbury, London WC1E 7HU, UK 51.5229378 -0.1308206
Av. de Cervantes, 2, 29016 Mlaga, Spain 36.7199506 -4.4160927
Jalan Universiti, 50603 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia 3.1201011 101.6543993
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
500 S State St, Ann Arbor, MI 48109, USA 42.2780436 -83.7382241
Columbia, MO 65211, USA 38.9403808 -92.32773750000001
Bandaranayake Mawatha, Moratuwa 10400, Sri Lanka 6.795002999999999 79.9007589
400098, University of Mumbai,Vidya Nagari, Kalina, Santacruz East, Mumbai, Maharashtra 400098, India 19.072048 72.8584149
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
300 Boston Post Rd, West Haven, CT 06516, USA 41.2907035 -72.9616437
Sydney NSW 2052, Australia -33.917347 151.2312675
Notre Dame, IN 46556, USA 41.7055716 -86.2353388
660 Parrington Oval, Norman, OK 73019, USA 35.2058936 -97.4457137
75 Laurier Ave E, Ottawa, ON K1N 6N5, Canada 45.42310639999999 -75.68313289999999
Oxford OX1 2JD, UK 51.7548164 -1.2543668
Via 8 Febbraio 1848, 2, 35122 Padova PD, Italy 45.406766 11.8774462
Corso Str. Nuova, 65, 27100 Pavia PV, Italy 45.1867055 9.1568417
Philadelphia, PA 19104, USA 39.9522188 -75.1932137
Karaoli ke Dimitriou 80, Pireas 185 34, Greece 37.9415292 23.6528343
Lynnwood Rd, Hatfield, Pretoria, 0002, South Africa -25.7545492 28.2314476
37008 Salamanca, Spain 40.9613376 -5.666925099999999
So Paulo - State of So Paulo, Brazil -23.5613991 -46.7307891
Obala Kulina bana 7/II, Sarajevo 71000, Bosnia and Herzegovina 43.856883 18.4188848
Los Angeles, CA 90007, USA 34.0223519 -118.285117
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
likooli 18, 50090 Tartu, Estonia 58.3810843 26.7198659
Tehran Province, Tehran, Enghelab Square Iran 35.7022192 51.39573069999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Austin, TX 78712, USA 30.2849185 -97.7340567
27 Kings College Cir, Toronto, ON M5S, Canada 43.6628917 -79.39565640000001
Geschwister-Scholl-Platz, 72074 Tbingen, Germany 48.5294782 9.043773999999999
5, Drienerlolaan, 7522 NB Enschede, Netherlands 52.23979740000001 6.8499883
201 Presidents Cir, Salt Lake City, UT 84112, USA 40.7649368 -111.8421021
Universittsring 1, 1010 Wien, Austria 48.21318549999999 16.3600504
Krakowskie Przedmiecie 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
Seattle, WA 98195, USA 47.65533509999999 -122.3035199
18115 Campus Way NE, Bothell, WA 98011, USA 47.7589 -122.1906495
200 University Ave W, Waterloo, ON N2L 3G1, Canada 43.4722854 -80.5448576
11000 University Pkwy, Pensacola, FL 32514, USA 30.5491387 -87.21858619999999
Madison, WI 53706, USA 43.076592 -89.4124875
Canal Rd, Quaid-i-Azam Campus, Lahore, Punjab, Pakistan 31.47898409999999 74.2661627
1 Jan Smuts Ave, Johannesburg, 2000, South Africa -26.1916888 28.0327614
Saultekio al. 11, Vilnius 10221, Lithuania 54.7224678 25.3376688
Universiteto g. 3, Vilnius 01513, Lithuania 54.6825757 25.2876469
907 Floyd Ave, Richmond, VA 23284, USA 37.5483122 -77.4526805
Blacksburg, VA 24061, USA 37.22838429999999 -80.42341669999999
666, Upper Indira Nagar, Bibwewadi, Pune, Maharashtra 411037, India 18.464077 73.867619
Krakowskie Przedmiecie 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
Pullman, WA, USA 46.7319225 -117.1542121
Wayne State, Detroit, MI, USA 42.3590346 -83.07087369999999
3848 Harrison Blvd, Ogden, UT 84408, USA 41.19189009999999 -111.9436903
Herzl St 234, Rehovot, Israel 31.9045055 34.8083407